@page
@model MatchingGameWeb.Pages.Matching_GameModel
@{
}

<div class="row">
    <table>
    <tr>
        <td>
             <button class="square"></button>
        </td>
        <td>
            <button class="square"></button>
        </td>
        <td>
            <button class="square"></button>
        </td>
    </tr>
</table>
</div>
